.page {
    display: flex;
    
}

.hawaii {
    /* width: min(600px, 50vw); */
    width: 100vw;
    height: 100vh;
}

.form-area {
    position: absolute;
    background-color: lightcyan;
    left: 37.5vw;
    width: 62.5vw;
    /* width: min(600px, 50vw); */
    height: 100vh;
}